/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        Main {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp ESC             &kp SQT   &kp COMMA  &kp DOT   &kp P  &kp Y          &kp F             &kp G  &kp C             &kp R    &kp L  &kp BSPC
&mt LEFT_SHIFT TAB  &kp A     &kp O      &kp E     &kp U  &kp I          &kp D             &kp H  &kp T             &lt 3 N  &kp S  &kp MINUS
&mo 4               &kp SEMI  &kp Q      &kp J     &kp K  &kp X          &kp B             &kp M  &kp W             &kp V    &kp Z  &kp ESC
                                         &kp LGUI  &mo 1  &lt 5 SPACE    &mt RSHIFT ENTER  &mo 2  &kp LEFT_CONTROL
            >;
        };

        S1 {
            bindings = <
&kp  &kp GRAVE  &kp AT    &kp HASH  &kp PERCENT    &kp       &kp     &kp PLUS      &kp ASTERISK   &kp EQUAL  &kp        &kp
&kp  &kp        &kp PIPE  &kp EXCL  &kp AMPERSAND  &kp       &kp     &kp DOLLAR    &kp SLASH      &kp TILDE  &kp CARET  &kp
&kp  &kp        &kp       &kp       &kp            &kp       &kp     &kp QUESTION  &kp BACKSLASH  &kp        &kp        &kp
                          &trans    &trans         &trans    &trans  &trans        &trans
            >;
        };

        S2 {
            bindings = <
&none  &none  &none  &none   &none   &none     &none   &kp LEFT_BRACKET  &kp RBKT      &none  &none  &none
&none  &none  &none  &none   &none   &none     &none   &kp LS(LPAR)      &kp LS(RPAR)  &none  &none  &none
&none  &none  &none  &none   &none   &none     &none   &kp LS(LBRC)      &kp LS(RBRC)  &none  &none  &none
                     &trans  &trans  &trans    &trans  &trans            &trans
            >;
        };

        Numpad {
            bindings = <
&trans  &none  &kp N1  &kp N2   &kp N3  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &none  &kp N4  &kp N5   &kp N6  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &none  &kp N7  &kp N8   &kp N9  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                       &kp DOT  &kp N0  &trans    &trans  &trans  &trans
            >;
        };

        Media {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        Movement {
            bindings = <
&trans  &trans     &trans     &trans    &trans    &trans    &trans  &trans    &trans         &trans       &trans     &trans
&trans  &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI  &trans    &trans  &kp LEFT  &kp DOWN       &kp UP       &kp RIGHT  &trans
&trans  &trans     &trans     &trans    &trans    &trans    &trans  &kp HOME  &kp PAGE_DOWN  &kp PAGE_UP  &kp END    &trans
                              &trans    &trans    &trans    &trans  &trans    &trans
            >;
        };
    };
};
